.chat-input{
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  border: 1px solid #ccc;
  outline: none;
  margin-right: 30px;
  border-radius: 10px;
}

.chat-button{
  width: 100px;
  height: 50px;
  border-radius: 20px;
}